@import './normalize';
@import './list';
@import './rescue';
@import './button';
@import './picker';
@import './myPosition';
@import './product';
@import './self';
@import './serviceComment';
@import './orderDetail';
@import './userinfo';
@import './phoneValidate';
@import "./search-input";
@import "./TruckBrand";
@import "./timer";

html, body, #app {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: "PingFang SC";
  outline: none;
  box-sizing: border-box;
}

input, input:focus {
  border: none;
  padding: 0;
  margin: 0;
}

.clear, .clearfix {
  &:before, &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.page {
  width: 100%;
  min-height: 100%;
  background: #F1F1F1;
}

.address {
  display: block;
  width: 0.34rem;
  height: 0.41rem;
}

.jiaohao {
  display: block;
  width: 0.16rem;
  height: 0.27rem;
}

.text-align-right {
  text-align: right;
}

.ft {
  float: left;
}
.fr {
  float: right;
}
