@select-height: 2.155 * (750 / 375rem);

.picker-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9000;
}

.picker-shade-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.5;
  background: #000000;
}

.picker-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: @select-height + 0.435 * (750 / 375rem);
  background: #FFFFFF;
}
.picker-button-zone {
  position: relative;
  font-size: 0.17 * (750 / 375rem);
  width: 100%;
  text-align: center;
  height: 0.435 * (750 / 375rem);
  line-height: 0.435 * (750 / 375rem);
  background: #F6F6F6;
  color: #000000;
  .picker-btn {
    font-size: 0.15 * (750 / 375rem);
    color: #007AFF;
    border-style: none;
    outline: none;
    text-decoration: none;
    @margin: 0.07 * (750 / 375rem);
    margin-bottom: 0.11 * (750 / 375rem);
    &.btn-cancel {
      float: left;
      margin-left: @margin;
    }
    &.btn-confirm {
      float: right;
      margin-right: @margin;
    }
  }
}

.picker-select-zone {
  width: 100%;
  position:relative;
  height: @select-height;
  display: block;
  &:before, &:after {
    content: " ";
    display: table;
    clear: both;
  }

  .picker-selected-zone {
    position: relative;
    left: 0;
    top: 0.77 * (750 / 375rem);
    height: 0.28 * (750 / 375rem);
    width: 100%;
    border-top: 0.02 * (750 / 375rem) solid #DDDDDD;
    border-bottom: 0.02 * (750 / 375rem) solid #DDDDDD;
  }

  .select-container {
    float: left;
    position: relative;
    top: -0.28 * (750 / 375rem);
  }

  .select-touch-layer {
    position: relative;
    z-index: 9990;
    height: @select-height;
    top: -@select-height;
    opacity: 0;
  }

  .picker-item {
    height: @select-height;
    padding-top: 0.15 * (750 / 375rem);
    padding-bottom: 0.15 * (750 / 375rem);
    overflow-y: scroll;
    overflow-x: hidden;
    text-wrap: none;
    text-align: center;
    .option-item {
      font-family: ".PingFangSC-Regular";
    }
    .option-selected {
      font-size: 0.235 * (750 / 375rem);
      height: 0.33 * (750 / 375rem);
      line-height: 0.33 * (750 / 375rem);
      overflow: hidden;
      text-wrap: none;
      font-family: ".SFNSDisplay";
      letter-spacing: 0.0038 * (750 / 375rem);
      font-weight: bold;
    }
    .option-selected-offset-1 {
      font-size: 0.19 * (750 / 375rem);
      height: 0.2 * (750 / 375rem);
      line-height: 0.2 * (750 / 375rem);
      @margin: 0.09 * (750 / 375rem);
      letter-spacing: 0.004 * (750 / 375rem);
      font-weight: 300;
      opacity: 0.8;
      &.before {
        margin-bottom: @margin;
      }
      &.after {
        margin-top: @margin;
      }
    }
    .option-selected-offset-2 {
      font-size: 0.15 * (750 / 375rem);
      height: 0.19 * (750 / 375rem);
      line-height: 0.19 * (750 / 375rem);
      @margin: 0.07 * (750 / 375rem);
      letter-spacing: 0.004 * (750 / 375rem);
      font-weight: 200;
      opacity: 0.4;
      &.before {
        margin-bottom: @margin;
      }
      &.after {
        margin-top: @margin;
      }
    }
    .option-selected-offset-3 {
      font-size: 0.1 * (750 / 375rem);
      height: 0.13 * (750 / 375rem);
      line-height: 0.13 * (750 / 375rem);
      letter-spacing: 0.008 * (750 / 375rem);
      font-weight: 100;
      @margin: 0.04 * (750 / 375rem);
      opacity: 0.2;
      &.before {
        margin-bottom: @margin;
      }
      &.after {
        margin-top: @margin;
      }
    }
    .option-selected-offset-4 {
      font-size: 0.045 * (750 / 375rem);
      height: 0.07 * (750 / 375rem);
      line-height: 0.07 * (750 / 375rem);
      letter-spacing: 0.008 * (750 / 375rem);
      font-weight: 100;
      @margin: 0.04 * (750 / 375rem);
      opacity: 0.1;
      &.before {
        margin-bottom: @margin;
      }
      &.after {
        margin-top: @margin;
      }
    }
    .option-padding {
      height: 0.5 * (750 / 375rem);
    }
  }
}

.multi-select(@number) {
  .select-container {
    width: 100% / @number;
  }
}

.multi-select-1 {
  .multi-select(1);
}

.multi-select-2 {
  .multi-select(2);
}

.multi-select-3 {
  .multi-select(3);
}